/* Estilos generales */
* {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

body {
    background-color: #f3f2ff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content img {
    width: 30%;
    height: 30%;
    display: block;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #aaa;
    font-size: 30px
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 60%;
    aspect-ratio: 1;
    padding-top: 1rem;
}

.view-details {
    font-size: 1.25rem;
    padding: 10px 20px;
    border-radius: 8px;
}

.card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.details-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #168eca;
    color: #deecf4;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.details-btn:hover {
    background-color: #061826;
}

footer {
    background-color: #061826;
    color: #deecf4;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text-footer {
    color: #deecf4;
}

nav {
    background-color: #061826;
    font-family: 'Rubik', sans-serif;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-brand {
    color: #deecf4;
}

.navbar-brand:hover {
    color: #deecf4;
    text-decoration: none;
}

.border-card {
    border: 1px solid #89aae6;
}

/* Estilos para los elementos dentro del carrito */
.cart-modal {
    display: none;
    position: fixed;
    right: 0;
    top: 55px;
    bottom: 0;
    width: 350px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1050;
    overflow-y: auto;
    border: 1px solid #168eca;
}

.modal-content {
    position: relative;
    padding: 20px;
}

.cart-modal img {
    width: 25%;
    border-radius: 8px;
}

.cart-item {
    border-bottom: 1px solid #168eca;
    padding: 5px;
}

/* Estilos para los botones dentro del carrito */
#cartModal button {
    margin-top: 5px;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    float: right;
    margin: 10px;
    /* Alinear los botones a la derecha */
}

/* Estilos para el botón "-" cuando está deshabilitado */
#cartModal button[disabled] {
    background-color: #ccc;
    color: #333;
}

/* Estilos específicos para los botones del carrito */
#cartModal #clearCartButton {
    background-color: #dc3545;
    color: #fff;
    border: none;
}


#cartModal button#buyCartButton {
    background-color: #28a745;
    color: #fff;
    border: none;
}

.card-title {
    font-size: 16px;
}

.card-price {
    font-size: 24px;
}

.logo {
    width: 10%;
}

i {
    padding: 6px 12px;
}

i span {
    margin-left: 5px;
    font-size: 12px;
}