/* Estilos generales */
* {
    font-family: 'Rubik', sans-serif;
}

body {
    font-family: 'Rubik', sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content img {
    width: 30%;
    height: 30%;
    display: block;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #aaa;
    font-size: 30px
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    width: 200px;
    aspect-ratio: 1;
    display: flex;
    margin-top: 100px;
}

.view-details {
    margin-top: 50px;
    font-size: 1.25rem;
    padding: 10px 20px;
    border-radius: 8px;
}

.card-body {
    text-align: center;
}

.details-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #168eca;
    color: #deecf4;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.details-btn:hover {
    background-color: #3685B5;
}

footer {
    background-color: #061826;
    color: #deecf4;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text-footer {
    color: #deecf4;
}

nav {
    background-color: #061826;
    font-family: 'Rubik', sans-serif;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    color: #deecf4;
}

.navbar-brand:hover {
    color: #deecf4;
    text-decoration: none;
}

.border-card {
    border: 1px solid #89aae6;
}

/* Estilos para los elementos dentro del carrito */
#cartModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    height: auto;
    max-height: 80vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 12px;
}

/* Estilos para las imágenes en el carrito */
#cartModal img {
    width: 25%;
    /* Reducir tamaño de las imágenes al 65% */
    border-radius: 8px;
    /* Esquinas redondeadas en las imágenes */
}

/* Estilos para los botones dentro del carrito */
#cartModal button {
    margin-top: 5px;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    float: right;
    /* Alinear los botones a la derecha */
}

/* Estilos para el botón "-" cuando está deshabilitado */
#cartModal button[disabled] {
    background-color: #ccc;
    color: #333;
}

/* Estilos específicos para los botones del carrito */
#cartModal #clearCartButton {
    background-color: #dc3545;
    color: #fff;
    border: none;
}


#cartModal button#buyCartButton {
    background-color: #28a745;
    color: #fff;
    border: none;
}

.card-title {
    font-size: 16px;
}